h1{
    text-align: center;
    font-size: 28px;
}

h1 a{
    color:brown;
    text-decoration: none;
}

h1 a:hover{
    color:red
}

h1 a:visited{
    color:brown
}


#character {
    position: relative;
    top: 0px;
    left: 0px;
}