body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff; 
    color: #000000;
    line-height: 1.6;
    
}

.intro {
    background-color: rgb(139, 243, 250);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

 {

}