/* total */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff; 
    color: #000000;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* header */
.intro {
    background-color: rgb(139, 243, 250);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


h1:hover{
    text-shadow:none;
}

.links {
    background-color: rgb(134, 235, 235);
    display: flex;
    flex-flow: row nowrap;
}

.links a:link{
    
    padding: 20px 30px;
    flex: 1;
    text-align: center;
    color: #ba7d02;
    text-decoration: none;
}

.links a:hover{
    color: #ba7d02;
    text-decoration: none;
    background-color: rgb(37, 117, 117) ;
}

.links a:active{
    color:burlywood
}

.links a:visited{
    color: #ba7d02;
}

/* main */
.main {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-content:space-evenly;
}

#imgMain{
    display: flex;
    flex-flow: row nowrap;
}
#imgMain #cars{

}
#imgMain img{
   border-style: double;
   padding: 3px;
   margin: 10px;
   flex-grow: 5;
}


/* footer */
footer {
    display: flex;
    flex-flow: column nowrap;
}

.footLinks {
    background-color: rgb(134, 235, 235);
    display: flex;
    flex-flow: row nowrap;
}

.footLinks a:link{
    padding: 20px 30px;
    flex: 1;
    text-align: center;
    color: #ba7d02;
    text-decoration: none;
}

.footLinks a:hover{
    color: #ba7d02;
    text-decoration: none;
    background-color: rgb(37, 117, 117) ;
}

.footLinks a:active{
    color:burlywood
}

.footLinks a:visited{
    color: #ba7d02;
}

.end{
    background-color:rgb(139, 243, 250);
    text-align: center;
}

.end p{
    font-size: 8px;
    font-style: italic;
}